<div class="w-full h-full flex flex-col">
  <div
    class="flex justify-between items-center gap-2 px-4 py-2 bg-gray-200 rounded-t-lg"
  >
    <h2 class="font-semibold my-1">Explanation</h2>
  </div>
  <div class="p-4 border rounded-b-lg w-full h-full overflow-y-scroll">
    <div
      *ngIf="!isLoading && !result && !error"
      class="text-sm text-blue-600 bg-blue-50 p-4 rounded-lg"
    >
      <!-- Paste an error and click <b>Explain Error</b> to see the explanation. -->
      Paste logs and click Summarize Logs.
    </div>

    <div
      *ngIf="isLoading"
      class="text-blue-600 bg-blue-50 p-4 rounded-lg flex items-center gap-2"
    >
      <svg
        class="animate-spin"
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="currentColor"
      >
        <path
          d="M479.88-100q-78.03 0-147.33-29.9-69.29-29.9-121.02-81.63-51.73-51.73-81.63-121.02-29.9-69.3-29.9-147.33 0-78.98 29.96-147.97 29.96-69 81.58-120.61 51.61-51.62 121.04-81.58T480-860q12.75 0 21.37 8.63 8.63 8.63 8.63 21.38 0 12.76-8.63 21.37Q492.75-800 480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160q133 0 226.5-93.5T800-480q0-12.77 8.63-21.38 8.63-8.62 21.38-8.62 12.76 0 21.37 8.63Q860-492.75 860-480q0 77.99-29.96 147.42-29.96 69.43-81.58 121.04-51.61 51.62-120.61 81.58Q558.86-100 479.88-100Z"
        />
      </svg>
      Summarizing logs...
    </div>
    <div
      *ngIf="error"
      class="text-red-600 bg-red-50 p-4 rounded-lg flex items-center gap-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="currentColor"
      >
        <path
          d="M480-290.77q13.73 0 23.02-9.29t9.29-23.02q0-13.73-9.29-23.02-9.29-9.28-23.02-9.28t-23.02 9.28q-9.29 9.29-9.29 23.02t9.29 23.02q9.29 9.29 23.02 9.29Zm-30-146.15h60v-240h-60v240ZM480.07-100q-78.84 0-148.21-29.92t-120.68-81.21q-51.31-51.29-81.25-120.63Q100-401.1 100-479.93q0-78.84 29.92-148.21t81.21-120.68q51.29-51.31 120.63-81.25Q401.1-860 479.93-860q78.84 0 148.21 29.92t120.68 81.21q51.31 51.29 81.25 120.63Q860-558.9 860-480.07q0 78.84-29.92 148.21t-81.21 120.68q-51.29 51.31-120.63 81.25Q558.9-100 480.07-100Zm-.07-60q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"
        />
      </svg>
      {{ error }}
    </div>

    <div *ngIf="!isLoading && result">
      <div class="bg-blue-50 p-4 rounded-lg mb-2">
        <b>Summary:</b> {{ result.summary }}
      </div>
      <div class="bg-purple-50 p-4 rounded-lg mb-2">
        <b>Timeline:</b>
        @for (item of result.timeline; track $index) {
        <div
          class="whitespace-pre-wrap flex items-center gap-2 justify-start py-1"
        >
          <div class="bg-purple-500 p-1 rounded-full"></div>
          {{ item }}
          @if (item===result.failure_point) {
          <span class="bg-red-500 text-white px-2 rounded-lg text-sm"
            >Failure Point</span
          >
          }
        </div>
        }
      </div>
      <div class="bg-pink-50 p-4 rounded-lg mb-2">
        <b>Failure Point:</b> {{ result.failure_point }}
      </div>
      <div class="bg-orange-50 p-4 rounded-lg mb-2">
        <b>Next Step:</b> {{ result.next_step }}
      </div>
    </div>
  </div>
</div>
